<script>document.dispatchEvent(new Event('DOMContentLoaded'));</script>
<%= form_for @note do |f| %>
  <!-- Submit Button -->
  <%= f.submit "Save", class: "btn btn-success" %>

  <!-- Title Field -->
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <br>

  <!-- Content Field with Quill -->
  <div id="editor" style="width: 100%; height: 500px;">
    <!-- Hidden Input Field for Quill Content -->
    <%= f.hidden_field :content, id: 'quill-content', value: @note.content %>
    <!-- Ensure the content is included for editing but not displayed in the editor -->
    <div>
      <%= @note.content %>
    </div>
  </div>

  <!-- Hidden User ID Field -->
  <%= f.hidden_field :user_id, value: current_user.id %>
<% end %>