<%= link_to 'Open Cases', cases_path %>
<%= link_to 'Billable Cases', billable_cases_path %>
<%= link_to 'Closed Cases', closed_cases_path %>
<h2>Closed Cases (<%= @closed_cases.count %>)</h2>
<%= link_to 'New Case', new_case_path, :class => "btn btn-primary" %>

<div class="container">
  <div class="row">

    <div class="col-sm-2 fw-bold">Case No.</div>
    <div class="col-sm-4 fw-bold">Subject</div>
    <div class="col-sm-4 fw-bold">Locations</div>
    <!--      <div class="col-sm-4">Requested By</div>-->
    <div class="col-sm-2 fw-bold">Last Updated</div>
  </div>
  <% @closed_cases.each do |c| %>
  <div class="row bg-light">
        <div class="col-sm-2"><%= link_to c.id, case_path(c), :class => "btn btn-primary" %></div>
        <div class="col-sm-4"><%= c.subject %></div>
        <div class="col-sm-4"><% c.case_locations.each do |tl| %>
          <%= link_to "#{tl.location.short_name} (#{tl.location.city})", location_path(tl.location), :class => "btn btn-info" %>
          <% end %>
        </div>
        <div class="col-sm-2 overflow-auto"><%= c.updated_at.strftime("%A, %b %d, %Y - %l:%M %p")  %></div>
  </div>
  <% end %>
</div>
