<%= link_to 'Open Cases', cases_path %>
<%= link_to 'Billable Cases', billable_cases_path %>
<%= link_to 'Closed Cases', closed_cases_path %>
<h2>Closed Cases (<%= @closed_cases.count %>)</h2>
<%= link_to 'New Case', new_case_path, :class => "btn btn-primary" %>

<div class="container">
  <div class="row">

    <div class="col-md-2">Case No.</div>
    <div class="col-md-4">Subject</div>
    <div class="col-md-2">Locations</div>
    <!--      <div class="col-md-4">Requested By</div>-->
    <div class="col-md-2">Assigned To</div>
    <div class="col-md-2">Updated At</div>
  </div>
  <% @closed_cases.each do |c| %>
  <div class="row">
        <div class="col-md-2"><%= link_to c.id, case_path(c), :class => "btn btn-primary" %></div>
        <div class="col-md-4"><%= c.subject %></div>
        <div class="col-md-2"><% c.case_locations.each do |tl| %>
          <%= link_to "#{tl.location.short_name} (#{tl.location.city})", location_path(tl.location), :class => "btn btn-info" %>
          <% end %>
        </div>
        <!-- <div class="col-md-4"><%# c.requested_by.email unless c.requested_by.blank? %></div>-->
        <div class="col-md-2"><%= c.assigned_to.email unless c.assigned_to.blank? %></div>
        <div class="col-md-2"><%= c.updated_at.strftime("%B %d, %Y")  %></div>
  </div>
  <% end %>
</div>
