<%= link_to 'Back', cases_path, :class => "link-secondary" %> |
<%= link_to 'Edit', edit_case_path(@case.id), :class => "link-success" %> |
<%= link_to 'Delete', case_path(@case), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, :class => "link-danger" %> |
<%= link_to 'Mark Inspectable', change_status_to_inspectable_case_path(@case.id), data: {turbo_method: :put}, :class => "link-primary" %> |
<%= link_to 'Mark Billable', change_status_to_complete_billable_case_path(@case.id), data: {turbo_method: :put}, :class => "link-primary" %> |
<%= link_to 'Mark Closed', change_status_to_closed_case_path(@case.id), data: {turbo_method: :put}, :class => "link-primary" %> |
<%= link_to 'Print', case_path, :onclick => 'window.print();return false;'%>
<p>
  <strong>Case No.</strong>
  <%= @case.id %> <span class="badge bg-secondary"><%= @case.status.status unless @case.status.blank? %></span>
</p>
<p>
  <strong>Subject</strong>
  <%= @case.subject %>
</p>
<p>
  <strong>Created On:</strong> <%= Time.use_zone('Eastern Time (US & Canada)') { @case.created_at.strftime("%B %d, %Y") } %><br>
  <strong>Last updated:</strong> <%= Time.use_zone('Eastern Time (US & Canada)') { @case.updated_at.strftime("%A, %b %d, %Y - %l:%M %p") } %><br>
</p>

<p>
  <strong>Locations:</strong><br>
  <% @case.case_locations.each do  |cl| %>
    <%= link_to cl.location.name, location_path(cl.location) %><br>
  <% end %>
</p>
<p>
  <strong>Requested By</strong>
  <%= @case.requested_by.full_name unless @case.requested_by.full_name.blank? %>
</p>
<p>
  <strong>Assigned To</strong>
  <%= @case.assigned_to.full_name unless @case.assigned_to.full_name.blank? %>
</p>
<p>
  <strong>Followed By:</strong><br>
  <% @case.case_users.each do |cu| %>
  <%= cu.user.full_name %>
  <br />
  <% end %>
</p>
<p>
  <strong>Description</strong>
  <%= @case.description %>
</p>
<p>
  <strong>severity</strong>
  <%= @case.severity.severity unless @case.status.blank? %>
</p>
<p>
  <% @case.files.each do |f| %>
    <%= link_to f.filename, url_for(f) %><br>
  <% end %>
</p>


<h2>Comments</h2>
  <p style="color:blue;">Total Labor Hours: <%= @case.total_labor %> hrs</p>
  <%= render @case.case_comments %>
  <%= render 'case_comments/form' %>
