<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  <%= link_to 'Lively Teams', root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <%= link_to 'Cases', cases_path, {:class => 'nav-link dropdown-toggle', :'data-bs-toggle' => 'dropdown', :'aria-expanded'=> 'false', :role => 'button'} %>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'Open Cases', cases_path, :class => 'dropdown-item' %></li>
            <li><%= link_to 'Billable Cases', billable_cases_path, :class => 'dropdown-item' %></li>
            <li><%= link_to 'Closed Cases', closed_cases_path, :class => 'dropdown-item' %></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to 'Projects', {controller: '/task_lists'}, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Notes',{controller: '/notes'}, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'File Share', {controller: '/things'}, class: "nav-link" %>
        </li>
    <li class="nav-item">
          <%= link_to 'Locations', {controller: '/locations'}, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contacts', {controller: '/contacts'}, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Settings', admin_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <% if current_user %>
            <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link", method: :delete %>
          <% else %>
            <%# link_to "Register", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>

          <% end %>
        </li>
      </ul>
    </div><!-- .collapse .navbar-collapse -->
    <%= form_with url: search_path, local: true, method: :get, html: { class: "d-flex" } do |form| %>
      <%= form.text_field :q, placeholder: "Search", data: { behavior: "autocomplete" }, class: "form-control me-2" %>
      <%= form.button "Search", class: "btn btn-outline-success" %>
    <% end %>
    <%= link_to '+', new_case_path, class:"btn btn-outline-success" %>
</div>
</nav>
