<div class="row">
  <div class="col">
    <h1>Cases</h1>
    <% @cases.each do |c| %>
      <p><%= link_to "Case No. #{c.id}", case_path(c) %><br>
         subject: <%= c.subject %><br>
         body:<%= c.description %><br>
         location:<%= c.case_locations.first.location.name %></p>
         comments:<%= render @case.case_comments %>
    <% end %>
  </div>

  <div class="col">
    <h1>Locations</h1>
    <% @locations.each do |location| %>
      <p><%= link_to location.name, location %></p>
    <% end %>
  </div>
</div>
