<!doctype html>
<html lang="en">
  <head>
    <title>Lively Teams</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <!-- Bootstrap Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/navigation' %>
    <br>
    <%= yield %>
  </body>
</html>
